@font-face {
	font-family: 'FiraCodeNerdFont';
	src: url('../fonts/FiraCodeNFP-Med.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'FiraCodeNerdFont', sans-serif;
}

body {
	background-color: #2b2a33;
	color: #fff;
	display: flex;
}

.left-panel {
	width: 350px;
	display: flex;
	flex-direction: column;
}

.link a {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #161b22;
	background-color: #eee;
	border-radius: 8px;
	font-size: 175%;
}

.link a:hover {
	cursor: pointer;
	background-color: #161b22;
	color: #fff;
}

#szukajka {
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #161b22;
	background-color: #eee;
	border: 0;
	border-radius: 8px;
	width: 260px;
}

#szukajka:focus {
	cursor: pointer;
	background-color: #161b22;
	color: #fff;
}

.left-panel table {
	border: 0;
	margin-left: 10px;
	padding: 5px;
	width: 70%;
}

.left-panel td:nth-child(even) {
	color: pink;
	text-align: end;
}

.right-panel{
	margin-top: 20%;
	text-transform: capitalize;
}

.right-panel td{
	padding: 5px;
	word-wrap: break-word;
    white-space: normal;
}

.right-panel th{
	padding: 7px;
}

.right-panel th:nth-child(1){
    text-align: left;
	
}

.right-panel td:not(:nth-child(1)){
	text-align: center;
}