@font-face {
	font-family: 'FiraCodeNerdFont';
	src: url('./fonts/FiraCodeNFP-Med.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'FiraCodeNerdFont', sans-serif;
}

body {
	background-color: #2b2a33;
	margin: 0 auto;
}

nav {
	padding: 10px 5px 15px 5px;
	font-size: 35px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
