* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

.header-bar,
.links {
	width: 400px;
	margin: 20px auto;
}

.header-bar {
	text-align: left;
	margin-bottom: 20px;
}

.header-bar h1 {
	margin: 0;
	font-size: 24px;
	color: var(--accent-color);
}

.links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li:not(:first-child) {
	margin-top: 20px;
}

.links li a {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	color: var(--text-color-2);
	background-color: var(--accent-color-2);
	border-radius: var(--box-radius);
	font-size: 175%;
	transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
}

/* Hover efekt */
.links li a:hover {
	background-color: var(--accent-color);
	color: var(--text-color);
	transform: scale(1.02);
	box-shadow: var(--box-shadow-hover);
}
