@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@supports (font-variation-settings: normal) {
	code {
		font-family: 'Fira Code VF', monospace;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Fira Code', monospace;
}

body {
	background-color: #2b2a33;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav p {
	padding: 10px;
	margin: 10px;
	color: #ff91a4;
	font-size: x-large;
}

.links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li:not(:first-child) {
	margin-top: 20px;
}

.links li a {
	display: block;
	width: 400px;
	padding: 10px;
	text-decoration: none;
	color: #161b22;
	background-color: #eee;
	border-radius: 8px;
	font-size: 175%;
}

.links li a:hover {
	background-color: #161b22;
	color: #fff;
	cursor: pointer;
}

.links li i {
	margin-right: 10px;
}

@media (max-width: 600px) {
	.links li:not(:first-child) {
		margin-top: 10px;
	}

	.links li a {
		width: 100%;
		font-size: 100%;
	}
}
