@font-face {
	font-family: 'FiraCodeNerdFont';
	src: url('./fonts/FiraCodeNFP-Med.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'FiraCodeNerdFont', sans-serif;
}

body {
	background-color: #2b2a33;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav p {
	padding: 10px;
	margin: 10px;
	color: #ff91a4;
	font-size: 160%;
}

.links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.links li:not(:first-child) {
	margin-top: 20px;
}

.links li a {
	display: block;
	width: 400px;
	padding: 10px;
	text-decoration: none;
	color: #161b22;
	background-color: #eee;
	border-radius: 8px;
	font-size: 175%;
}

.links li a:hover {
	background-color: #161b22;
	color: #fff;
	cursor: pointer;
}
/* kms */