* {
	box-sizing: border-box;
	margin: auto 0;
}

body {
	background-color: #2b2a33;
}

nav {
	font-style: unset;
	text-decoration: none;
	font-size: 35px;
}

nav a {
	text-decoration: none;
	color: aliceblue;
}

.skins {
	display: grid;
	grid-template-columns: repeat(auto-fit, 675px);
	justify-content: center;
	justify-items: center;
	margin: 5% 10% 0;
	padding-bottom: 10%;
}

.item {
	border-radius: 8px;
	height: 400px;
	width: 600px;
}

.skin_header {
	background-color: black;
	border-radius: 20px 20px 0 0;
	padding: 5px;
	text-align: center;
}

.skin_header a {
	text-decoration: none;
	color: #ff0060;
}

.obrazek {
	max-width: 100%;
	transition: transform 0.3s ease-in-out;
	cursor: zoom-in;
}

.obrazek.expanded {
	transform: scale(1.5);
	cursor: zoom-out;
}
