#kitku {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 360px; /* lub inna wysokość, żeby nie skakało przy ładowaniu */
}

#kot {
	max-width: 98vw;
	max-height: 480px;
	border-radius: var(--box-radius);
	box-shadow: var(--box-shadow);
	transition: box-shadow 0.22s, transform 0.18s;
	object-fit: contain;
	background: #2221;
}