@font-face {
	font-family: 'FiraCodeNerdFont';
	src: url('./fonts/FiraCodeNFP-Med.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'FiraCodeNerdFont', sans-serif;
}

body {
	background-color: #2b2a33;
	height: 100vh;
}

nav a {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: #161b22;
	background-color: #eee;
	border-radius: 8px;
	font-size: 175%;
}

nav a:hover {
	cursor: pointer;
	background-color: #161b22;
	color: #fff;
}

.skins {
	display: grid;
	grid-template-columns: repeat(auto-fit, 625px);
	justify-content: center;
	justify-items: center;
	margin: 25px 0;
	padding-bottom: 10%;
	gap: 25px 0px;
}

.item {
	border-radius: 10px;
	height: 400px;
	width: 600px;
	background: black;
}

.item:hover {
	box-shadow: 0px 0px 5px 2px rgba(255, 254, 254, 0.5);
}

.skin_header {
	background-color: black;
	border-radius: 20px 20px 0 0;
	padding: 5px;
	text-align: center;
}

.skin_header a {
	text-decoration: none;
	color: #ff0060;
}

.obrazek {
	max-width: 100%;
	transition: transform 0.3s ease-in-out;
	cursor: zoom-in;
}

.obrazek.expanded {
	transform: scale(1.5);
	cursor: zoom-out;
}

@media (max-width: 600px) {
	.skins {
		grid-template-columns: repeat(auto-fit, 300px);
	}
}
