* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

.skins {
	display: grid;
	grid-template-columns: repeat(auto-fit, 625px);
	justify-content: center;
	justify-items: center;
	margin: 25px 0;
	padding: 0 15px 10% 15px;
	gap: 25px 0px;
}

.item {
	border-radius: var(--box-radius);
	width: 100%;
	max-width: 600px;
	background: var(--bg2);
	overflow: hidden;
	box-shadow: var(--box-shadow);
	transition: box-shadow 0.3s;
}

.item:hover {
	box-shadow: var(--box-shadow-hover);
}

.skin_header {
	background-color: var(--bg2);
	padding: 10px;
	text-align: center;
}

.skin_header a {
	text-decoration: none;
	color: var(--accent-color);
	font-weight: bold;
	font-size: 110%;
}

.obrazek {
	max-width: 100%;
	height: auto;
	border-bottom-left-radius: var(--box-radius);
	border-bottom-right-radius: var(--box-radius);
	transition: transform 0.3s ease-in-out;
	cursor: zoom-in;
}

.obrazek.expanded {
	transform: scale(1.5);
	cursor: zoom-out;
}

@media (max-width: 600px) {
	.skins {
		grid-template-columns: repeat(auto-fit, 300px);
	}
}
