* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

nav.nav-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	gap: 10px;
}

nav.nav-top h1 {
	flex: 1;
	text-align: center;
	margin: 0;
	font-size: 22px;
	color: var(--accent-color);
}

nav.nav-top > a {
	margin: 0;
}

nav.nav-top > button.theme-button {
	position: static;
}

strong,
.about a {
	color: var(--accent-color);
	text-decoration: none;
}

.about a:hover {
	text-decoration: underline;
}

hr {
	margin: 10px 0;
}

ul {
	list-style: none;
	padding: 0;
}

.about {
	margin-bottom: 10px;
	padding: 0 15px;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	margin: 0 10px;
	padding-inline: 15px;
}

.specs {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}

.pc-section {
	background-color: var(--sub2);
	padding: 15px;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.pc-section ul {
	color: var(--text-color);
}

.pc-section li {
	margin: 5px 0;
}

.playlist-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.playlist-box {
	background-color: var(--sub2);
	padding: 15px;
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	text-align: center;
	transition: transform 0.2s ease, background-color 0.2s ease;
}

.playlist-box p {
	margin-top: 10px;
	font-size: 15px;
}

.playlist-box a.btn {
	display: block;
	max-width: 500px;
	margin: 0 auto;
	padding: 10px;
	text-decoration: none;
	color: var(--text-color-2);
	background-color: var(--accent-color-2);
	border-radius: var(--box-radius);
	transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.playlist-box a.btn:hover {
	background-color: var(--accent-color);
	color: var(--text-color);
	transform: scale(1.02);
	box-shadow: var(--box-shadow-hover);
}

.playlist-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 10px;
	box-shadow: var(--box-shadow);
}

footer {
	text-align: center;
	padding: 20px 10px;
	margin-top: 20px;
}

@media (max-width: 768px) {
	.main {
		grid-template-columns: 1fr;
	}

	.playlist-container {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}

	.pc-section {
		width: 100%;
	}

	.specs {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}
