:root{
--linearPrimarySecondary: linear-gradient(#c9a7bd, #68363a);
--linearPrimaryAccent: linear-gradient(#c9a7bd, #b17669);
--linearSecondaryAccent: linear-gradient(#68363a, #b17669);
--radialPrimarySecondary: radial-gradient(#c9a7bd, #68363a);
--radialPrimaryAccent: radial-gradient(#c9a7bd, #b17669);
--radialSecondaryAccent: radial-gradient(#68363a, #b17669);
}

@media (prefers-color-scheme: light) {
    :root {
      --text: #1d1119;
      --background: #fbf9fa;
      --primary: #59364d;
      --secondary: #c9979b;
      --accent: #975b4e;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #ede1e9;
      --background: #070406;
      --primary: #c9a7bd;
      --secondary: #68363a;
      --accent: #b17669;
    }
  }
  